body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.main-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.article-content {
    border-radius: 25px;
    border: 1px solid white;
    height: 65vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#article-title h2 {
    text-align: center;
    padding: 3rem;
}

.article-input {
    padding: 1.5rem;
    border-radius: 15px;
}

#lab {
    padding: 0.9rem;
}

.article-input input[name="titre"] {
    border-radius: 25px;
    width: 22vw;
    height: 3vh;
}

.article-input input[name="categorie"] {
    border-radius: 25px;
    width: 22vw;
    height: 3vh;
}

.article-input input[name="intro"] {
    border-radius: 25px;
    height: 3vh;
    width: 22vw;
}

.article-input textarea[name="contenu"] {
    border-radius: 25px;
    height: 10vh;
    width: 26vw;
}

.article-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-button button {
    border-radius: 25px;
    width: 10vw;
    height: 3vh;
    background-color: #5f3dc4;
    color: white;
    border: none;
}

.article-button button:hover {
    background-color: #3c1f94;
    cursor: pointer;
}

.test {
    display: flex;
    align-content: flex-start;
}

@media screen and (max-width: 768px) {

    .article-input input[name="titre"],
    .article-input input[name="categorie"],
    .article-input input[name="intro"],
    .article-input textarea[name="contenu"] {
        width: 14vw;
        height: 2.5vh;
        border-radius: 20px;
    }

    .article-button button {
        width: 12vw;
        height: 3vh;
    }



    .article-input textarea[name="contenu"] {
        height: 6vh;
    }

    #lab {
        padding: 0.5rem;
    }

    .article-input {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }

}

textarea {
    border: none;
    outline: none;
    resize: none;
    border-radius: 15px;
}

.article-input input {
    border-radius: 15px;
}