.test {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.test img {
    border-radius: 10px;
    width: 450px;
    height: 550px;
    cursor: pointer;
}


.esport {
    position: relative;
    background-image: url(../img/img_index_esport.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25vw;
    height: 70vh;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(100%);
}

.esport p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 2rem;
    color: white;
    user-select: none;

}

.f1 {
    position: relative;
    background-image: url(../img/img_index_f1.png);
    background-size: cover;
    width: 25vw;
    height: 70vh;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(100%);
}

.f1 p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 2rem;
    color: white;
    user-select: none;

}

.foot {
    position: relative;
    background-image: url(../img/Img_index_foot2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25vw;
    height: 70vh;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(100%);
}

.foot p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 2rem;
    color: white;
    user-select: none;

}

.esport:hover {
    filter: grayscale(0%);
}

.esport:hover p {
    font-size: 2.5rem;
}

.esport:active {
    transform: scale(0.9);
}

.f1:hover {
    filter: grayscale(0%);
}

.f1:hover p {
    font-size: 2.5rem;
}

.f1:active {
    transform: scale(0.9);
}

.foot:hover {
    filter: grayscale(0%);
}

.foot:hover p {
    font-size: 2.5rem;
}

.foot:active {
    transform: scale(0.9);
}


.box {
    padding-top: 25vh;
}

.form {
    width: 350px;
    height: 450px;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1px white;
    background-color: black;
}

h3 {
    text-align: center;
    padding: 2rem 1rem;
    color: #eee;
    letter-spacing: 2px;
}

.username,
.password {
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    align-items: center;
    margin: 0 2.5rem 1rem 2.5rem;
    outline: none;
    border-style: none;
    border: 1px solid #5f3dc4;
}

input::placeholder {
    color: #ddd;
}

p {
    color: #ddd;
}

.icon {
    padding-right: 0.5rem;
    color: #ddd;
}

input[placeholder="Username"],
input[placeholder="Password"],
input[placeholder="Confirm Password"] {
    padding: 0.75rem 1.5rem;
    outline: none;
    border-style: none;
    background-color: transparent;
    color: #ddd;
}

.username:hover,
.password:hover {
    border: 2px solid #5f3dc4;
}



.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.remember {
    display: flex;
    align-items: center;
}

.checkbox {
    outline: none;
    border-style: none;
    margin-right: 0.25rem;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: #5f3dc4;
    transition: all 0.3s;
}

a:hover {
    opacity: 0.8;
}

.btn-box {
    display: flex;
    justify-content: center;
}

.btn-box button {
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    outline: none;
    border-style: none;
    width: 75%;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #fff;
    text-align: center;
    color: #5f3dc4;
    font-size: 1vw;
}

.btn-box:hover button {
    background-color: #5f3dc4;
    color: #fff;
}

.btn-box a:hover {
    opacity: 0.8;
}

.register {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    margin-top: 4rem;
}

input[type="password"] {
    font-size: 1vw;
    font-weight: 600;
    text-decoration: none;
}

/* CSS ABOUT */ 

.bodyabout {
    background-color: rgba(0, 0, 0, 0.877);
    display: flex;
    flex-direction: row;
}

.rectangleaboutleft {
    background-color: rgba(128, 128, 128, 0.392);
    width: 400px;
    margin: 50px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: 2px 2px 5px rgba(0,0,0,15);
}

.rectangleaboutright {
    background-color: rgba(128, 128, 128, 0.392);
    width: 400px;
    margin: 50px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: -2px 2px 5px rgba(0,0,0,15);
   
}

.termandcond {
    width: 100%;
    color: #fefefe;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titreabout {
    font-size: 20px;
    
}

.h1about {
    font-size: 35px;
}

.aboutimg {
    max-width: 100%;
    display: flex;
    
}