{{define "staticPath"}}{{.Base.StaticPath}}{{end}}

{{define "title"}}<title>{{.Base.Title}}</title>{{end}}


{{define "body"}}
    <div>
        <h1>
            title : ...
        </h1>
    </div>
        <div>

        </div>
{{end}}
