{{define "staticPath"}}{{.Base.StaticPath}}{{end}}
{{define "css"}}<link rel="stylesheet" href="{{.Base.StaticPath}}css/content.css">{{end}}
{{define "title"}}<title>{{.Base.Title}}</title>{{end}}


{{define "body"}}
{{end}}